@import './additions.scss';

/*--Header--start--*/

header {
	width: 100%;
}

header::before {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: #000;
}

.content__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;

	@media (max-width: 992px) {
		& {
			padding-top: 20px;
		}
	}

	@media (max-width: 568px) {
		& {
			margin: 0 10px;
		}
	}
}

.logo {
	background-image: url('/public/images/logo.png');
	background-size: cover;
	width: 83px;
	height: 74px;
	position: relative;
	z-index: 3;

	@media (max-width: 992px) {
		& {
			width: 63px;
			height: 74px * 63px / 83px;
		}
	}

	@media (max-width: 768px) {
		& {
			width: 32px;
			height: 28px;
		}
	}
}

.nav_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 65%;

	@media (max-width: 1200px) {
		& {
			width: 75%;
		}
	}

	@media (max-width: 568px) {
		& {
			display: none;
		}
	}
}

.nav-bar {
	width: 336px;

	.nav-list {
		display: flex;
		justify-content: space-between;

		li {
			font-weight: 500;
			font-size: 16px;
			line-height: 23px;
			color: #2a3354;
			transition: transform 0.4s ease;

			&:hover {
				transform: translateY(-5px);
			}
		}
	}
}

.settings {
	width: 237px;
	display: flex;
	justify-content: space-between;

	@media (max-width: 992px) {
		& {
			display: none;
		}
	}
}

.language {
	display: flex;
	align-items: center;

	.icon {
		background-image: url('/public/icons/lang.svg');
		width: 18px;
		height: 18px;
	}

	.text {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		color: #2a3354;
		margin-left: 20px;
	}
}

.btn_sign-up {
	border: 1px solid rgba(0, 16, 73, 0.2);
	border-radius: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #001049;
	padding: 12px 34px;
	cursor: pointer;
	transition: background 0.2s linear;

	&:hover {
		background: #fafbff;
	}
}

.header__burger {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;

	@media (max-width: 568px) {
		& {
			display: block;
		}
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		background-color: #000;
		width: 100%;
		height: 2px;
		left: 0;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	span {
		position: absolute;
		background-color: #000;
		width: 100%;
		height: 2px;
		top: 9px;
	}
}

/*--Header--end--*/

/*--Welcome--start--*/

.welcome {
	width: 100%;
	margin-top: 70px;

	@media (max-width: 568px) {
		& {
			margin-top: 20px;
		}
	}
}

.content__walcome {
	display: flex;
	justify-content: space-between;
}

.welcome_text {
	width: 630px;
	margin-top: 150px;
	z-index: 2;

	@media (max-width: 1400px) {
		& {
			width: 530px;
		}
	}

	@media (max-width: 1200px) {
		& {
			width: 440px;
			margin-top: 100px;
		}
	}

	@media (max-width: 768px) {
		& {
			width: 100%;
			margin-top: 0px;
		}
	}

	h1 {
		font-weight: 500;
		font-size: 80px;
		color: #001049;
		width: 675px;
		line-height: 120%;
		margin-bottom: 20px;

		@media (max-width: 1200px) {
			& {
				font-size: 60px;
			}
		}

		@media (max-width: 768px) {
			& {
				width: auto;
				line-height: 100%;
			}
		}

		@media (max-width: 568px) {
			& {
				font-size: 60px;
			}
		}
	}

	main {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		color: #001049;
	}

	.buttons {
		margin-top: 40px;
	}

	.btn-start {
		@include btn(20px, 60px);

		@media (max-width: 768px) {
			& {
				@include btn(14px, 43px);
				margin-right: 0px;
			}
		}
	}

	.btn-discount {
		@include btn_out(20px, 53px);

		@media (max-width: 768px) {
			& {
				@include btn_out(14px, 43px);
			}
		}
	}
}

.welcome_images {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;

	@media (max-width: 768px) {
		& {
			display: none;
		}
	}

	div {
		width: 295px;
		height: 295px;

		@media (max-width: 1200px) {
			& {
				width: 255px;
				height: 255px;
			}
		}
	}
}

.image-ruby {
	background: #ff9292;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

	@media (max-width: 768px) {
		& {
			display: none;
		}
	}

	img {
		width: 253px;
		height: 253px;
	}
}

.image-earth {
	background: #ffda92;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

	@media (max-width: 768px) {
		& {
			display: none;
		}
	}

	img {
		width: 253px;
		height: 253px;
	}
}

.image-phone {
	background: #c292ff;
	width: 295px;
	height: 295px;
	border-radius: 40px;

	@media (max-width: 992px) {
		& {
			display: none;
		}
	}

	img {
		width: 293px;
		height: 293px;

		@media (max-width: 1200px) {
			& {
				width: 253px;
				height: 253px;
			}
		}
	}
}

.image-robot {
	background: #92ebff;
	width: 295px;
	height: 295px;
	border-radius: 40px;

	img {
		width: 293px;
		height: 293px;
	}

	@media (max-width: 992px) {
		& {
			display: none;
		}
	}
}

/*--Welcome--end--*/

/*--Features--start--*/

.features {
	width: 100%;
	margin-top: 50px;

	@media (max-width: 768px) {
		& {
			margin-top: 100px;
		}
	}
}

.content__features {
	display: flex;
	justify-content: space-between;

	@media (max-width: 992px) {
		& {
			display: block;
		}
	}
}

.features_text {
	width: 260px;

	@media (max-width: 992px) {
		& {
			width: 60%;
			margin-bottom: 20px;
		}
	}

	@media (max-width: 568px) {
		& {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}

	h2 {
		width: 80%;
		font-weight: 500;
		font-size: 40px;
		line-height: 120%;
		color: #001049;

		@media (max-width: 568px) {
			& {
				width: 100%;
			}
		}
	}

	main {
		padding-top: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #2a3354;
	}
}

.features_images {
	width: 75%;

	@media (max-width: 568px) {
		& {
			margin-right: auto;
			margin-left: auto;
			width: 100%;
		}
	}

	div {
		width: 505px;
		height: 190px;
		background: #fff;
		box-shadow: 0px 10px 50px rgba(86, 133, 255, 0.15);
		border-radius: 40px;
		display: flex;

		@media (max-width: 768px) {
			& {
				width: 340px;
			}
		}

		.description {
			padding-left: 40px;
			font-weight: 500;
			font-size: 24px;
			line-height: 120%;
			color: #001049;

			@media (max-width: 768px) {
				& {
					font-size: 20px;
				}
			}
		}
	}
}

.image-study {
	justify-content: space-between;

	@media (max-width: 568px) {
		& {
			margin: 0 auto;
		}
	}

	img {
		width: 250px;
		height: 250px;

		@media (max-width: 768px) {
			& {
				width: 189px;
				height: 160px;
				margin-top: auto;
			}
		}
	}
}

.image-homework {
	margin-top: 20px;
	margin-left: auto;

	@media (max-width: 992px) {
		& {
			margin-left: 18%;
		}
	}

	@media (max-width: 568px) {
		& {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.description {
		width: 50%;
	}

	img {
		padding-left: 20px;

		@media (max-width: 768px) {
			& {
				width: 170px;
				padding-left: 0px;
			}
		}
	}
}

.image-platform {
	margin-top: 20px;
	margin-left: 15%;
	width: 505px;
	height: 190px;
	background: #fff;
	box-shadow: 0px 10px 50px rgba(86, 133, 255, 0.15);
	border-radius: 40px;
	display: flex;

	@media (max-width: 992px) {
		& {
			margin-left: auto;
		}
	}

	@media (max-width: 768px) {
		& {
			width: 340px;
		}
	}

	@media (max-width: 568px) {
		& {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.description {
		padding-left: 40px;
		font-weight: 500;
		font-size: 24px;
		line-height: 120%;
		color: #001049;

		@media (max-width: 768px) {
			& {
				font-size: 20px;
			}
		}
	}

	img {
		padding-right: 50px;

		@media (max-width: 768px) {
			& {
				width: 160px;
				padding-right: 0px;
			}
		}
	}
}

/*--Features--end--*/

/*--Benefits--start--*/

.benefits {
	width: 100%;
	margin-top: 100px;
	background: rgba(86, 133, 255, 0.05);
	background-image: url('/public/images/learn.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 100%;

	@media (max-width: 992px) {
		& {
			background-image: none;
		}
	}
}

.content__benefits {
	padding: 85px 0 40px 0;
}

.advantage {
	width: 525px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	@media (max-width: 568px) {
		& {
			width: 100%;
			justify-content: flex-start;
		}
	}
}

.num-adventage {
	width: 85px;
	height: 85px;
	background: #5685ff;
	opacity: 0.3;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		font-weight: 400;
		font-size: 41px;
		line-height: 140%;
		color: #001049;
	}
}

.text_advantage {
	width: 420px;

	@media (max-width: 568px) {
		& {
			width: 80%;
			padding-top: 10px;
			padding-left: 20px;
		}
	}

	h2 {
		font-weight: 500;
		font-size: 40px;
		line-height: 120%;
		color: #001049;

		@media (max-width: 568px) {
			& {
				font-size: 24px;
			}
		}
	}

	.blue {
		color: #5685ff;
	}

	main {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #2a3354;
	}
}

.btn-getStart {
	@include btn(20px, 56px);
	margin-left: 105px / 1240px * 100%;
	display: inline-block;
	margin-top: 30px;

	@media (max-width: 992px) {
		& {
			margin-left: 14%;
		}
	}

	@media (max-width: 768px) {
		& {
			margin-left: 19%;
		}
	}

	@media (max-width: 568px) {
		& {
			@include btn(14px, 136px);
			width: 100%;
			margin-left: 0;
			text-align: center;
		}
	}
}

/*--Benefits--end--*/

/*--Pricing--start--*/

.pricing {
	width: 100%;
}

.content__pricing {
	padding: 100px 0 50px 0;

	@media (max-width: 568px) {
		& {
			padding: 50px 0 50px 0;
		}
	}
}

.text_pricing {
	width: 473px;
	margin: 0 auto;

	@media (max-width: 568px) {
		& {
			width: 100%;
		}
	}

	h2 {
		font-weight: 500;
		font-size: 48px;
		line-height: 120%;
		color: #001049;
		margin-bottom: 25px;

		@media (max-width: 568px) {
			& {
				text-align: center;
				font-size: 28px;
				margin-bottom: 20px;
			}
		}
	}

	main {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		text-align: center;
		color: #2a3354;
	}
}

.interval {
	width: 203px;
	height: 23px;
	margin: 50px auto 100px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 568px) {
		& {
			margin: 40px auto 40px auto;
		}
	}

	p {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		color: #001049;
	}

	.switch {
		width: 40px;
		height: 20px;
		border: 1px solid rgba(86, 133, 255, 0.15);
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding-left: 1px;

		.eclipse {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #5685ff;
		}
	}
}

.tariffs {
	display: flex;
	justify-content: space-between;

	@media (max-width: 1200px) {
		& {
			display: none;
		}
	}
}

.tariff {
	padding: 40px 0 50px 0;
	width: 340px;
	background: #fafafa;
	box-shadow: 0px 10px 50px rgba(86, 133, 255, 0.15);
	border-radius: 40px;

	@media (max-width: 568px) {
		& {
			box-shadow: none;
		}
	}

	@media (max-width: 380px) {
		& {
			width: 100%;
		}
	}

	&-b {
		margin-top: 40px;
		padding: 40px 0 50px 0;
		width: 340px;
		background: #fafafa;
		box-shadow: 0px 10px 50px rgba(86, 133, 255, 0.15);
		border-radius: 40px;
	}
}

.text_tariff {
	width: 262px;
	margin: 0 auto 30px auto;
	text-align: center;

	h3 {
		font-weight: 700;
		font-size: 32px;
		line-height: 120%;
		color: #001049;
		padding-top: 20px;
	}

	main {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		text-align: center;
		color: #2a3354;
	}
}

.price {
	display: flex;
	width: 212px;
	margin: 0 auto 30px auto;

	h1 {
		font-weight: 700;
		font-size: 80px;
		line-height: 120%;
		color: #5685ff;
	}

	.preiod {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		text-align: center;
		color: #2a3354;
		padding-left: 8px;
		margin-top: auto;
	}
}

.specifications {
	padding: 0 0 50px 64px;
}

.specification {
	padding-top: 20px;
	display: flex;

	.icon-plus {
		width: 24px;
		height: 24px;
		background: #00cc45;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		.plus {
			background-image: url('/public/icons/check.svg');
			width: 15px;
			height: 12px;
		}
	}

	.icon-minus {
		width: 24px;
		height: 24px;
		background: #ff5a5a;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		.minus {
			background-image: url('/public/icons/cross.svg');
			width: 13px;
			height: 13px;
			margin-left: 1px;
		}
	}

	p {
		padding-left: 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		color: #2a3354;
	}
}

.btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn-buy {
	@include btn-out(20px, 56px);
	color: #5685ff;
	display: inline-block;
}

// Swiper
.swiper_container {
	opacity: 0;
	width: 0;
	height: 0;

	.nav {
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: 1200px) {
		& {
			opacity: 1;
			width: 100%;
			height: auto;
		}
	}

	.tariff {
		margin: 0 auto;
	}

	.nav {
		.swiper-button-next {
			background-image: url('/public/icons/next.svg');
			width: 41px;
			height: 16px;
			color: #fff;

			&::after {
				content: none;
			}

			@media (max-width: 500px) {
				& {
					display: none;
				}
			}
		}

		.swiper-button-prev {
			background-image: url('/public/icons/prev.svg');
			width: 41px;
			height: 16px;
			color: #fff;

			&::after {
				content: none;
			}

			@media (max-width: 500px) {
				& {
					display: none;
				}
			}
		}
	}
}

// .swiper-button-next,
// .swiper-button-prev {
// }

/*--Pricing--end--*/

/*--Discount--start--*/

.discount {
	width: 100%;
	margin-top: 100px;
	background-image: url('/public/images/choice.png');
	background-size: contain;
	background-repeat: no-repeat;

	@media (max-width: 992px) {
		& {
			background-image: none;
		}
	}
}

// .content__discount {
// }

.text_discount {
	width: 594px;
	margin-left: auto;

	@media (max-width: 768px) {
		& {
			width: 100%;
		}
	}

	h2 {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 48px;
		line-height: 120%;
		text-align: right;
		color: #001049;

		@media (max-width: 568px) {
			& {
				font-size: 24px;
				margin-bottom: 10px;
			}
		}
	}

	main {
		margin-bottom: 50px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		text-align: right;
		color: #001049;

		@media (max-width: 568px) {
			& {
				margin-bottom: 30px;
			}
		}
	}

	.btn-container {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.btn-haveCode {
		@include btn(20px, 46px);
		display: inline-block;
		text-align: end;

		@media (max-width: 568px) {
			& {
				@include btn(14px, 37px);
			}
		}
	}
}

/*--Discount--end--*/

/*--Footer--start--*/

footer {
	width: 100%;
	background: #dfe8ff;
	margin-top: 160px;

	@media (max-width: 568px) {
		& {
			margin-top: 100px;
		}
	}
}

.container__footer {
	max-width: 1240px;
	margin: 0 auto;

	@media (max-width: 1400px) {
		& {
			max-width: 1200px;
		}
	}

	@media (max-width: 1250px) {
		& {
			max-width: 1050px;
		}
	}

	@media (max-width: 1100px) {
		& {
			max-width: auto;
			margin: 0 30px;
		}
	}

	@media (max-width: 768px) {
		& {
			max-width: 540px;
			margin: 0 auto;
		}
	}

	@media (max-width: 568px) {
		& {
			width: auto;
			margin: 0 10px;
		}
	}
}

.content__footer {
	display: flex;
	justify-content: space-between;
	padding: 45px 0 50px 0;

	@media (max-width: 768px) {
		& {
			flex-wrap: wrap;
		}
	}

	@media (max-width: 768px) {
		& {
			padding: 0 0 0 0;
		}
	}
}

.text {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #001049;
}

form * {
	outline: none;
}

.subscribe {
	width: 400px;

	@media (max-width: 992px) {
		& {
			width: 250px;
		}
	}

	@media (max-width: 768px) {
		& {
			width: 100%;
		}
	}

	.logo {
		background-image: url('/public/images/logo.png');
		width: 83px;
		height: 73.45px;
		margin-bottom: 25px;

		@media (max-width: 768px) {
			& {
				background-image: none;
				width: 0;
				height: 0;
				margin-bottom: 0;
			}
		}
	}

	.text {
		margin-top: 25px;
		margin-bottom: 30px;
		width: 313 / 400 * 100%;

		@media (max-width: 568px) {
			& {
				width: 85%;
			}
		}
	}

	.form {
		@media (max-width: 768px) {
			& {
				margin-bottom: 30px;
			}
		}

		input {
			width: 240px;
			height: 61px;
			border: 1px solid #001049;
			border-radius: 10px;
			font-weight: 500;
			font-size: 16px;
			line-height: 23px;
			color: #001049;
			opacity: 0.3;
			outline: none;
			padding-left: 20px;
			z-index: 2;

			@media (max-width: 992px) {
				& {
					width: 70%;
					height: 48px;
				}
			}

			@media (max-width: 568px) {
				& {
					width: 70%;
				}
			}
		}

		button {
			@include btn(19px, 42px);
			outline: none;
			border: none;
			z-index: 6;

			@media (max-width: 992px) {
				& {
					@include btn(12px, 42px);
					height: 48px;
					margin-left: 0;
				}
			}
		}
	}
}

.platform {
	width: 59px;

	@media (max-width: 568px) {
		& {
			width: 50%;
			padding-top: 20px;
		}
	}

	h5 {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		color: #001049;
		padding-bottom: 10px;
		margin: 0;
	}

	.text {
		padding-top: 10px;
		display: inline-block;

		@media (max-width: 568px) {
			& {
				width: 100%;
			}
		}
	}
}

.help {
	width: 162px;

	@media (max-width: 568px) {
		& {
			width: 50%;
			padding-top: 20px;
		}
	}

	h5 {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		color: #001049;
		padding-bottom: 10px;
		margin: 0;
	}

	.text {
		padding-top: 10px;
		display: inline-block;
	}
}

.contacts {
	width: 165px;

	@media (max-width: 568px) {
		& {
			width: 50%;
			padding-top: 44px;
		}
	}

	h5 {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		color: #001049;
		padding-bottom: 10px;
		margin: 0;
	}

	.text {
		padding-top: 10px;
		display: inline-block;
	}
}

.logo_outro {
	background-image: url('/public/images/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 123px;
	height: 110px;
	margin-top: 44px;
	margin-right: auto;
	margin-left: 10px;
	display: none;

	@media (max-width: 568px) {
		& {
			display: block;
		}
	}
}

/*--Footer--end--*/
